<!DOCTYPE html>
<html>
    <head>
        <title>Data Team Uploader</title>
        
        <link rel="stylesheet" href="/Content/Styles/style_main.css" />
        
        <script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="/Scripts/App/UI.js" type="text/javascript"></script>
        
        
    </head>
    <body>
        
        <div id="content">
       
            @RenderBody()
        
        </div>
    </body>
</html>